.lte7 button { width:1;overflow:visible }
.lte7 legend { margin-left:-7px; }
.ie7 img { -ms-interpolation-mode:bicubic; }
.ie7 input[type="checkbox"] { vertical-align:baseline; }
.lte7 input[type="checkbox"] { vertical-align:bottom; }