@mixin prefixFree( $key, $value ){
  @each $prefix in -moz-, -webkit-, -ms-, -o-, '' {
    #{$prefix}#{$key}: $value;
  }
}

@mixin box_shadow( $shadow ){
  @include prefixFree( 'box-shadow', #{$shadow} );
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include prefixFree( 'transform', ( translateY( -50% ) ) );
}


@mixin clearfix {
  &:before,
  &:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
  &:after { clear:both; }
  .lte7 & { zoom:1; }
}


$slow-animation-duration : 0.6s !default;
$fast-animation-duration : #{$slow-animation-duration / 2} !default;

@mixin animate( $duration : 0.5s, $property : "all", $easing: 'ease' ){
  @if $duration == 'slow' {
    $duration : $slow-animation-duration;
  }

  @else if $duration == 'fast' {
    $duration : $fast-animation-duration;
  }

  @include prefixFree( 'transition', (#{$property} #{$duration} #{$easing}) );
}
