$small-screens: 600px !default;
$large-screens: 1024px !default;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $small-screens) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-screens + 1) and (max-width: $large-screens - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-screens) { @content; }
  }
}

//Usage
//.foo {
//  @include respond-to(small-screens) { width: 100% ;}
//  @include respond-to(medium-screens) { width: 125px; }
//  @include respond-to(wide-screens) { float: none; }
//}